body {
  background-image: url(../images/bg.jpg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 500ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: #d400b855;
  border: 2px solid #c6d400;
  border-radius: 5px;
  transition: all 500ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url(../images/backjpg.jpg);
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card { 
  filter: saturate(0);
}
