header {
  width: 100%;
}

header > nav {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  gap: 12px;
}

header > nav > a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
header > nav > a > img {
  transition: transform 1s;
  border-radius: 50%;
  width: 2.5rem;
}

header > nav > a > img:hover {
  transform: rotate(360deg);
}

header > nav > a > span {
  font-size: 0.9rem;
  animation-name: example;
  animation-duration: 4s;
}

/* css blinking text cursor */
header > nav > a > span > .blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  /* //Basic styling */
  display: inline-block;
  width: 0.12rem;
  height: 0.9rem;
  box-shadow: 0 0 10px rgba(white, 0.3);
  background: black;
}

/* css blinking text cursor */
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
